/* Link Resolver styles */
/* If javascript is not avaialable. these styles will improve the 360 Link layout dramatically. */
/* If javascript is available, the 360Link Reset script will rewrite the page with semantic HTML */
/*  */
/* For more info on 360Link Reset, visit http://gvsu.edu/library/360linkreset */


@font-face {
	font-family: 'Lato';
	src: url('http://library.owu.edu/fonts/lato/Lato-Bla.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('http://library.owu.edu/fonts/lato/Lato-Reg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('http://library.owu.edu/fonts/lato/Oswald-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('http://library.owu.edu/fonts/lato/Oswald-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}



/* Styles for javascript disabled */

p {
	font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
	line-height: 1em;
	color: #000;
}

.reset-line-height {
	line-height: 0;
}

#contentArea {
	/* margin-right: 2em; */
	margin: 0 2em 0 2em;
}

#details a:link {
	color: #007DEF;
	text-decoration: none;
	font-weight: bold;
	}

#details a:hover {
	color: #007DEF;
	text-decoration: underline;
	font-weight: bold;
	}

#details a:active {
	color: #007DEF;
	text-decoration: none;
	font-weight: bold;
	}

#details a:visited {
	color: #007DEF;
	text-decoration: none;
	font-weight: bold;
	}



#page-content h2 {
	font-size: 24px;}

img {
	border: 0;}

table {
	border-collapse: collapse;
	display: inline-table;
}

table, table tr, table td {
	border: none;
}

div#CitationResults {
	font-size: 1.1em;
	line-height: 1.5em;
	padding: 0 1em !important;
} 

td.CitationValue div {
	font-weight: normal;
}

#CitationJournalTitleValue, 
#CitationBookTitleValue,
#CitationSource {
	font-style: italic;
}

td.CitationLabel {
	width: 5em;
	color: #777;
	font-weight: bold;
}

td#CitationJournalIssnValue, td#CitationJournalVolumeValue {
	width: 25%; }

#SearchResults {
	width: 100%;
	margin: 1em 0; }

a#refworks {
	line-height: 140%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	display: inline;
	overflow: hidden; }

div#ArticleCL a,
a.article-button {
	display: inline;
	font-size: 11px;
	padding: 15px 25px 15px 25px; 
	font-weight: bold;
	text-align: center;
	text-decoration: none; 
	width: 125px;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	khtml-border-radius: 4px; 
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); }

div#ArticleCL a,
a.article-button {
	background: #0090D2; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #3b732a), color-stop(1, #1e6408)); 
	background: -moz-linear-gradient(center top, #3b732a 20%, #1e6408 100%); 
	color: #fff; 
	margin: 0; }
	
a.article-button:hover {
	background: #0090D2; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #427f2f), color-stop(1, #226f09)); 
	background: -moz-linear-gradient(center top, #427f2f 20%, #226f09 100%); 
	color: #fff; 
	margin: 0; }
	
a.article-button:active {
	background: #0090D2; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #3b732a), color-stop(1, #1e6408)); 
	background: -moz-linear-gradient(center top, #3b732a 20%, #1e6408 100%); 
	color: #fff; 
	margin: 0; }
	
#top-result .article-button {
	color: #fff;
	text-decoration: none;
	}
	
#top-result .journal-button {
	color: #444;
	text-decoration: none;
	}

.tooltip a:link {
	color: #007DEF;
	text-decoration: none;
	font-weight: bold;
	}

.tooltip a:hover {
	color: #007DEF;
	text-decoration: underline;
	font-weight: bold;
	}

div#JournalCL a,
a.journal-button {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #f1f1f1), color-stop(1, #f5f5f5)); 
	background: -moz-linear-gradient(center top, #f1f1f1 20%, #f5f5f5 100%); 
	color: #444444; 
	display: inline;
	font-size: 11px;
	padding: 15px; 
	font-weight: bold;
	text-align: center;
	text-decoration: none; 
	width: 130px;
	border: 2px solid #d9d9d9;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	khtml-border-radius: 4px; 
	border-radius: 4px;
	margin: 0; }

a.journal-button:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #f1f1f1), color-stop(1, #f5f5f5)); 
	background: -moz-linear-gradient(center top, #f1f1f1 20%, #f5f5f5 100%);
	border: 2px solid #c7c6c6;
	}
	
a.journal-button:active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #f1f1f1), color-stop(1, #f5f5f5)); 
	background: -moz-linear-gradient(center top, #f1f1f1 20%, #f5f5f5 100%);
	border: 2px solid #c7c6c6;
	}

table#JournalLinkTable {
	width: 95% !important;
	margin-top: .5em;
	font-size: 1.3em; }

td div#DateCL {
	margin-left: 2em;
	color: #333; }

div#DatabaseCL a,
a.SS_DatabaseHyperLink { 
	/* Don't make the database names look like links! */
	color: #000 !important;
	cursor: text !important;
	display: inline-block;
	padding: .5em .3em; 
	text-decoration: none; }

#ContentNotAvailableTable {
	font-size: 1.2em; 

	}


table#ContentAvailableTable,
span.SS_ContentHeading, 
img.CellSpacer, 
p#RefinerLink2, 
td.BorderW, 
tr.LinePadRow, 
td.BorderE, 
td.CornerNW, 
td.BorderN img, 
div#RefinerLink0, 
td.CornerSE, 
td.CornerSW, 
td.BorderS, 
td.BorderW,
div.SS_NoResults {
	/* Cruft cruft cruft! Stop the insanity */
	display: none; }

/* ####################################### */	
/* Below are styles for javascript enabled */


#citation {
	line-height: 140%;
}

#item-details {
	padding: 2em 0 0 2em;

}

#cover-art {
	margin: 2em 2em 2em 0;
	float: left;
	position: relative;
	width: 150px;
	height: 200px;
}

#cover-art img {
	position: relative;
	vertical-align: top;
	height: 200px;
	width: 150px;
}  

.title-cover {
	position: relative;
	top: -200px;
}


#next-steps {
	overflow: hidden;
}

.img-shadow {
	border-radius: 3px;
	/* box-shadow: 2px 2px 2px; */
}

#top-result,
#next-step {
	margin: 2em 0 2em 0; 
	font-family: "Open Sans Light", Helvetica, Arial, sans-serif;}

#next-step li {
	font-size: 18px;
	margin-top: 1em; }

#top-result li {
	font-size: 14px;
	/* margin-bottom: 1em;*/ }

ul#top-result,
#next-step ul {
	list-style: none;
	margin: 3em 0 3em 0;
	padding:0; }

#next-step ul li a {
	text-decoration: none; }
	
#next-step {
	padding-top: 15px;
	}

a.holding-details {
	font-size: 1em !important
	}

a.tooltip:link {
	color:#007DEF;
	text-decoration: none; }

a.tooltip:hover {
	color:#007DEF;
	text-decoration: underline; }

a.tooltip:active {
	color:#007DEF;
	text-decoration: none; }
		
a.tooltip:visited {
	color:#007DEF;
	text-decoration: none; }

.event-head {
	color: #007DEF;
	font-size: 1.4em;
	cursor: pointer;
	margin: 3em 0 1em 0; }


.event-body ul {
	margin-top: 10px;}

.event-body ul li {
	font-size: 14px;
	margin-bottom: 10px; }

.event-body ul li a {
	text-decoration: none;
	}

.event-body h4 {
	background: #ddd;
	padding: 10px 0 10px 5px; }

.holding-details:hover { 
	background-position:0 -44px ; } 

/* clicked state */
 .holding-details:focus { 
	background-position:0 -88px; } 

.tooltip {
	display: none;
	padding:15px;
	width:13em;
	font-size:12px;
	color:#444;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #f1f1f1), color-stop(1, #f5f5f5)); 
	background: -moz-linear-gradient(center top, #f1f1f1 20%, #f5f5f5 100%);
	border: 5px solid #d9d9d9;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	khtml-border-radius: 10px; 
	border-radius: 10px; 
	}
	
#additionalDBnames li {
	padding-bottom: 10px;
	}
	
.lib-button-grey {
	display: block;
	background: #999; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #f5f5f5), color-stop(1, #f1f1f1)); 
	background: -moz-linear-gradient(center top, #f5f5f5 20%, #f1f1f1 100%);
	color: #444444; 
	margin: 0 .5em 0 2em;
	font-size: 12px;
	padding: 10px; 
	font-weight: bold;
	text-align: center;
	text-decoration: none; 
	width: 100px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	khtml-border-radius: 4px; 
	border-radius: 4px; }

a.newbutton {
	display: inline;
	font-size: 12px;
	font-weight: bold;
	padding: 15px 25px 15px 25px;
	margin: 2em;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	overflow: hidden;

}

a.newbutton {
	background: transparent;
	border: 2px solid #000;
	border-radius: 3px;
	color: #000;
	margin: 0;
	transition: background .2s, color .2s;

}

a.newbutton:hover {
	background: #000000;
	border-radius: 3px;
	color: #fff;
	margin: 0;

}

a.newbutton:active {
	background: #444444;
	border-radius: 3px;
	color: #fff;
	margin: 0;

}

.genre-color {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #b1b1b1;
}

.newtitle {
	color: #1a1a1a;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: bold;
}


#exportCitationSubmit  {
	color: #008cdc;
	font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
	text-decoration: none;
	-o-transition-property: color;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	transition-property: color;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	cursor: pointer;
}

#exportCitationSubmit:hover {
	color: #66baea;
	text-decoration: none;
	-o-transition-property: color;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	transition-property: color;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	cursor: pointer;
}

.floater {
	float: left;
}

.text-heavier {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

#myCarousel {
	width: 100%;
	margin-bottom: 0;
}

/*.modal {
	position: fixed;
	top: 0;
	left: 50%;
	right: 0;
	text-align: center;
	width: 80%;
	margin-left: -40%;
}

.modal-content {
	text-align: left;
} */

@media screen and (max-width: 640px) {

	p.breadcrumb {
		display: block;
		float: none;
		margin-top: 1em;
	}

	#citation {
	line-height: 140%;
	}

	#contentArea {
		margin: 1em 0;
	}

	#ContentNotAvailableTable {
		font-size: 1.2em; 
		padding-left: 0;
		text-align: center;

	}

	#cover-art {
		display: block;
		margin: 1em auto;
		float: none;
        height: 200px;
		width: 150px;
		overflow: hidden;
	}

	#cover-art img {
		position: relative;
		margin: 0 auto;
		/* position: absolute;
		height: 200px;
		width: 150px;
		margin-top: 1em;
		overflow: hidden; */
	}  

	.title-cover {
		margin: 0 auto;
		left: -150px;
	}







/* #cover-art {
	margin: 2em 2em 0 0;
	float: left;
	margin-right: -120px;
	position: relative;
}

#cover-art img {
	position: relative;
	top: 0;
	left: -150;
	vertical-align: top;
	height: 200px;
	width: 150px;
	/* position: absolute;
	height: 200px;
	width: 150px;
	margin-top: 1em;
	overflow: hidden; */
/* }  

.book-cover {
	position: relative;
	left: -150px;
} */

	#item-details {
		display: block;
		margin: 0 auto;
		padding: 1em 0 0 0;
		text-align: center;
	}

	#next-steps {
		margin: 0;
		padding: 0 1em;
		overflow: hidden;
		text-align: center;
	}

	.img-shadow {
		border-radius: 3px;
		/* box-shadow: 2px 2px 2px; */
	}

	.text-small {
		font-size: 1em;
	}

	.floater {
		float: none;
	}

	#top-result {
		text-align: center;
	}

	#top-result li {
		line-height: 3em;
	}

}



